/*Page styling*/

body, html {
	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
  	font-size: 100%;
}

body {
	font-family: Raleway;
  	color: #424242;
}

h1, h2, h3, h4, h5 {
	font-family: Lato;
  	margin: 0; 
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.1rem;
}

header, nav, footer, section, article, div {
  	box-sizing: border-box;
}

* {
  	box-sizing: border-box;
}

ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

/*Header styling*/

#header {
	color: #fff;
	height: 100vh;
}

.box {
	width: 100%;
}

/*Top nav buttons*/

#navmenu {
	width: 100%;
	background-color: rgba(0, 43, 75, 0.8);
	align-self: flex-start;
}

.page {
	border-width: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#navmenu nav ul {
	display: flex;
	justify-content: space-around;
}

.nav {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FF512F;
	text-align: center;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
}

.nav > a {
	color: #FF512F;
	text-decoration: none;
}

/*Active button*/

.active {
	color:#fff;
}

/*End top nav buttons*/

#headcopy {
	width: 65%;
	min-width: 200px;
	padding-left: 100px;
	align-self: center;
}

#headcopy > h1 {
	font-size: 3rem;
	margin: 0;
}

#headcopy > p {
	font-size: 1.2rem;
	line-height: 1.5;
}

/*Bottom nav buttons*/

#anchormenu {
	width: 100%;
	background-color: rgba(0, 43, 75, 0.8);
	display: flex;
	flex-wrap: wrap;
	align-self: flex-end;
}

#anchormenu > ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.scroll {
	margin: 0 10px;
	border-width: 1px;
}

/*End bottom nav buttons*/

/*Portfolio*/

.format {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.info {
	background-color: #fff;
	padding: 100px;
	color: #004950;
}

.info h2 {
	font-size: 2rem;
}

.example {
	width: 50%;
	height: auto;
	min-height: 300px;
}

.copy {
	padding: 40px;
}

.copy h3 {
	font-weight: 900;
	font-size: 1.7rem;
	color: #fff;
}

.copy > a > p {
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
}

/*Documentation*/

#doc1 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/docs1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#doc2 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/docs2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#doc3 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/docs3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Articles*/

#article1 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/article1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#article2 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/article2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#article3 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/article3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Miscellaneous*/

#blog1 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/misc1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#blog2 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/misc2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#blog3 {
	background-image: linear-gradient(
      rgba(1, 1, 1, 0.6), 
      rgba(1, 1, 1, 0.6)
    ), url("../img/misc3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Footer*/

.otherpage {
	padding: 1.5rem;
	text-align: center;
	background-color: #CF5300;
}

.otherpage h2 {
	font-size: 1.2rem;
	color: #fff;
}

.otherpage h2:hover {
	color: #112;
}

#contact {
	padding: 50px 140px;
	color: #fff;
	background: rgba(26,23,61,1);
	background: rgba(24,25,61,1);
	background: rgba(2,39,61,1);
	background: -moz-linear-gradient(left, rgba(2,39,61,1) 0%, rgba(2,39,61,1) 19%, rgba(2,39,61,1) 35%, rgba(2,39,61,1) 63%, rgba(1,44,65,1) 83%, rgba(1,44,65,1) 95%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,39,61,1)), color-stop(19%, rgba(2,39,61,1)), color-stop(35%, rgba(2,39,61,1)), color-stop(63%, rgba(2,39,61,1)), color-stop(83%, rgba(1,44,65,1)), color-stop(95%, rgba(1,44,65,1)));
	background: -webkit-linear-gradient(left, rgba(2,39,61,1) 0%, rgba(2,39,61,1) 19%, rgba(2,39,61,1) 35%, rgba(2,39,61,1) 63%, rgba(1,44,65,1) 83%, rgba(1,44,65,1) 95%);
	background: -o-linear-gradient(left, rgba(2,39,61,1) 0%, rgba(2,39,61,1) 19%, rgba(2,39,61,1) 35%, rgba(2,39,61,1) 63%, rgba(1,44,65,1) 83%, rgba(1,44,65,1) 95%);
	background: -ms-linear-gradient(left, rgba(2,39,61,1) 0%, rgba(2,39,61,1) 19%, rgba(2,39,61,1) 35%, rgba(2,39,61,1) 63%, rgba(1,44,65,1) 83%, rgba(1,44,65,1) 95%);
	background: linear-gradient(to right, rgba(2,39,61,1) 0%, rgba(2,39,61,1) 19%, rgba(2,39,61,1) 35%, rgba(2,39,61,1) 63%, rgba(1,44,65,1) 83%, rgba(1,44,65,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02273d', endColorstr='#012c41', GradientType=1 );
}

#reasons {
	color: #fff;
	width: 50%;
	line-height: 1.5;
	width: 50%;
}

#reasons > p {
	font-size: 0.9rem;
}

#reasons ul li {
	list-style: circle;
	font-size: 0.9rem;
	margin-left: 15px;
}

#methods {
	font-size: 25px;
	text-align: right;
	width: 50%;
	align-content: center;
}

a > .fa {
	padding: 15px;
	color: white;
}

.fa:hover {
	color: #FF512F;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #002944, 0 0 0.5em #002944, 0 0 0.1em #002944, 0 10px 3px #000;
}

#copyright {
	padding-top: 20px;
	width: 100%;
}

#copyright p {
	font-size: 0.8rem;
}

#copyright p a {
	color: #FF512F;
	text-decoration: underline;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
}

.elevator svg {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
	margin-top: 25px;
	}

.elevator p {
	font-size: 0.7rem;
}

@media screen and (min-width: 2551px) {

	#header {
		background: url("../img/bluewall3000.jpg") no-repeat center;
	}

}

@media screen and (max-width: 2550px) {

	#header {
		background: url("../img/bluewall2560.jpg") no-repeat center;
	}

}

@media screen and (max-width: 2000px) {

	#header {
		background: url("../img/bluewall2000.png") no-repeat center;
	}

}

@media screen and (max-width: 1371px) {

	#header {
		background: url("../img/bluewall1500.png") no-repeat center;
	}

}
	

@media screen and (max-width: 975px) {

	.info {
		padding: 10%;
	}
	
	.copy {
		padding-left: 10%;
		padding-right: 10%;
	}

	.copy {
		height: 300px;
	}

	#contact {
		padding: 50px 80px;
	}

}

@media screen and (max-width: 825px) {

	#headcopy {
		width: 100%;
		padding-left: 80px;
		padding-right: 80px;
	}

	.scroll {
		padding-left: 10px;
		padding-right: 10px;
	}

	.format {
		flex-wrap: wrap;
	}

	.short {
		width: 50%;
	}

	.long {
		width: 100%;
	}

	.otherpage h2 {
		font-size: 1rem;
	}

	#reasons {
		width: 100%;
	}

	#reasons > ul > li {
		margin-left: 10px;	
	}

	#methods {
		padding-top: 40px;
		width: 100%;
		text-align: left;
	}

}

@media screen and (max-width: 641px) {
	
	#headcopy > h1 {
    	font-size: 2rem;
	}

	#headcopy > p {
		font-size: 1rem;
	}

	#headcopy {
		padding-left: 40px;
		padding-right: 40px;
	}

	#contact {
		padding-left: 40px;
		padding-right: 40px;
	}

}

@media screen and (max-width: 550px){
	.short {
		width: 100%;
	}
}

@media screen and (max-width: 475px){

	#headcopy {
		padding-left: 25px;
		padding-right: 25px;
	}

	#headcopy > h1 {
    	font-size: 2rem;
	}

	#contact {
		padding-left: 25px;
		padding-right: 25px;
	}

}

@media screen and (max-width: 400px){
	
	.scroll {
		padding-left: 5px;
		padding-right: 5px;
	}
}
